html,
body {
    height: 100%;
}

#content-div {
    margin-left: 300px;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px
}

.row {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0 100px 80px rgba(0, 0, 0, 0.07);
    /* width: auto;
    height: auto;
    border-radius: 5px;
    padding: 2vh;
    margin: 5vh; */
}

.row {
    background-color: rgb(238, 237, 237);
    width: auto;
    min-height: 8vh;
    border-radius: 5vh;
    margin: 5vh;
    align-items: center;
    display: flex;
    padding-left: 5vh;
}

.comment {
    flex: 5;
}

.del {
    flex: 1
}

.comments {
    margin: 5vh;
}

.comments-form {
    margin: 5vh;
    padding: 50px 0px 20px 0px
}

.session {
    color: rgb(85, 83, 83);
    font-weight: 100;
    flex: 1;
    text-align: center;
    padding-bottom: 0px
}

.list {
    justify-content: space-around;
    flex: 8;

}

.list ul {
    list-style: none;
}

.list ul a {
    text-decoration: none;
    font-size: 18px;
}

.blog {
    padding: 5vh;
    text-align: center;
    flex: 1;
}

.blog h4 a {
    letter-spacing: 1.5px;
}

.post-head {
    margin: 5vh;
    padding: 2vh;
    text-align: center;
    color: rgb(149, 149, 149);
}

#sidebar {
    background-color: #E57373;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#sidebar h4 a {
    text-decoration: none;
    color: white
}

@media (min-width: 768px) {
    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 300px;
        height: 100%;
        padding-top: 30px;
    }
}