/**
 * Body CSS
 */

html,
body {
    height: 100%;
}

#content-div {
    margin-left: 300px;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px
}

label {
    font-size: 14px;
    font-weight: 200;
}

.sub {
    margin-top: 3vh;
}

.container {
    display: grid;
    justify-items: center;
    align-items: center;
}

.signup-div {
    margin-top: 20%;
    height: 290px;
    width: 320px;
    padding: 20px;
    background-color: rgb(238, 237, 237);

}

.signup-div h1 {
    font-size: 22px;
    text-align: center;
}

.signup-div {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}

.session {
    color: rgb(85, 83, 83);
    font-weight: 100;
    flex: 1;
    text-align: center;
    padding-bottom: 0px
}

.list {
    justify-content: space-around;
    flex: 8;

}

.list ul {
    list-style: none;
}

.list ul a {
    text-decoration: none;
    font-size: 18px;
}

.blog {
    padding: 5vh;
    text-align: center;
    flex: 1;
}

.blog h4 a {
    letter-spacing: 1.5px;
}

/**
    * Sidebar CSS
    */
#sidebar {
    background-color: #E57373;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#sidebar h4 a {
    text-decoration: none;
    color: white
}

@media (min-width: 768px) {
    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 300px;
        height: 100%;
        padding-top: 30px;
    }
}