{% extends "base.html" %}
{% block content %}
{% if error|length > 0 %}
<div class="error">
    <div class="closebtn" onclick="this.parentElement.style.display='none';">&times;</div>
    <h4>{{error}}</h4>
</div>
{% endif %}
{% if success|length > 0 %}
<div class="success">
    <div class="closebtn" onclick="this.parentElement.style.display='none';">&times;</div>
    <h4>{{success}}</h4>
</div>
{% endif %}
<div class="container-register">
    <div class="login-div">
        <h1>Login Here</h1>
        <form action="/start_session" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control form-control-sm" name="email" id="email" placeholder="Email .."
                    required="true">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control form-control-sm" name="password" id="password"
                    placeholder="Password .." required="true">
            </div>
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-primary sub">
            </div>
        </form>
    </div>


</div>
{% endblock content %}